:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --dark-bg-color: #2F303A;
    --secondary-bg-color: #F5F4FA;
    --primary-white-color: #fff;
    --primary-black-color: #000000;
    --btn-activation-color: #188CE8;
}

body {
    background-color: var (--primary-white-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section-title {
    color: var(--title-text-color);
}

.hidden-title {
    visibility: hidden;
}

.active-page {
    color: var(--accent-color)
}

.hero-section,
.footer {
    background-color: var(--dark-bg-color)
}

.site-nav-link:hover,
.site-nav-link:focus,
.head-contacts:hover,
.head-contacts:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}


/* ---HEADER SECTION---- */


/* ---Main page navigation--- */

.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-black-color);
}

.logo-part {
    color: var(--accent-color);
}

.site-nav {
    color: var(--title-text-color);
}

.site-nav-link {
    color: var(--title-text-color);
}

.site-nav-link,
.active-page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.head-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(----primary-text-color);
}


/* ----MAIN PAGE CONTENT---- */


/* ---HERO SECTION--- */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-activation-color);
}


/* ---FEATURES SECTION */

.feature-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-dscr {
    font-size: 14px;
    line-height: 1.71;
}


/* ---WHAT WE DO SECTION--- */

.activity-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


/* ---TEAM SECTION--- */

.team {
    background-color: var(--secondary-bg-color)
}

.team-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-member {
    background-color: var(--primary-white-color);
}

.member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.member-profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}


/* ---FOOTER--- */

.footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer-logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-white-color);
}

.footer-address {
    color: var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}


/* ----PORTFOLIO PAGE---- */


/* ---FILTERS--- */

.filters {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: inherit;
    color: var(--title-text-color)
}

.filter-button {
    cursor: pointer;
    border-style: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}


/* ---WORK EXAMPLES--- */

.work-headline {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-dscr {
    font-size: 16px;
    line-height: 1.88;
}